

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #6e56f3;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
    letter-spacing: 1px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #cccccc;
  }
  
  /* Main Styles */
  main {
    padding: 40px;
  }
  
  section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .project img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  .project-links a {
    color: #333333;
    text-decoration: none;
    background-color: #f1f1f1;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .project-links a:hover {
    background-color: #cccccc;
  }
  
  /* Contact Styles */
  .contact-info p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .contact-form-container {
    margin-top: 20px;
  }
  
  form input[type="email"] {
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #444444;
  }
  
  /* Footer Styles */
  footer {
    background-color: #6e56f3;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
  }
  